// file containing configuration variables

//
//-- Config
//

// colors
$color-base: #202020;
$color-base-light: #3D3D3D;
$color-base-green: #27ae60;
$color-base-red: #c0392b;

$color-base-font: #fff;
$color-base-floating: #C1C1C1;
$color-border: darken($color-base-floating, 10%);
// widths
$site-width: 75em;

// widths
$smallest-width: 20em;
$very-small-width: 30em;
$small-width: 48em;
$medium-width: 60em;
$large-width: 75em;
$very-large-width: 100em;